* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 20%,
      transparent 50%
    ),
    url(../images/test3.png);
  background-size: 100vw 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px 0;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  color: #228b22;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  font-family: "Revalia", cursive;
  font-size: 4em;
  text-shadow: 2px 2px #808080;
}

.img {
  height: 100px;
  width: 100px;
}
