body{
background:linear-gradient(to right,#C33764,#1D2671);
  /* background-repeat: no-repeat; */
  background-size:cover;
  /* background-position:center; */

}
.hero{
  color:#228B22;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  font-family: 'Revalia', cursive;
  font-size:4em;
  text-shadow:2px 2px #808080;
}
.img{
  height:100px;
  width: 100px;
}
.header{
  margin-left: 10%;
  margin-top: 100px;
}
.header a{
  text-decoration: none;
   font-size: 20px;
   padding:10px;
}
.container{
  border-top: 2px solid orange;
  margin-top:20px;
  padding-top: 20px;
}
img{
  width:400px;
  height:300px;
}
.left{
  width:30%;
 float: left;
  height:200px;
}
.right{
  float: right;
  width: 50%;
  height: 200px;
}